fastapi
uvicorn[standard]
jinja2
fastapi-cache2
requests
python-jose[cryptography]
passlib[bcrypt]
bcrypt
cryptography
python-dotenv
pydantic
apscheduler

sqlalchemy
psycopg2-binary
alembic


mcp
langchain
langchain-core
langchain-classic
langgraph
langchain-ollama
langchain-openai
langchain-mcp-adapters

pandas
numpy
diskcache
joblib

yfinance
newsdataapi
scikit-learn
xgboost
faiss-cpu
sentence-transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
redis
arize-phoenix
openinference-instrumentation-langchain
